<section class="press-boilerplate">
  <h2>About SLCCE</h2>
  <p>Students Leading Collaborative Computing Education (SLCCE) is a 501(c)(3) nonprofit that mobilizes university students to deliver free Computer Science and Electrical &amp; Computer Engineering workshops to under-resourced middle and high school students. Founded in 2024 at North Carolina State University, SLCCE's chapter model pairs undergraduate volunteers with partner schools that lack a CS or engineering curriculum. Learn more at <a href="https://www.slcce-inc.org">slcce-inc.org</a>.</p>
</section>
